<!-- ko with: home -->
<div class="jumbotron">
    <h1>Email Managment</h1>
    <p class="lead">Choose user to browse his emails addresses.</p>
</div>
<div class="row">
    <p>Some text here.</p>
</div>

<!-- /ko -->
